<a href="https://colab.research.google.com/github/athallah557/latihan-pertemuan-2/blob/main/latihan%20pertemuan%202%20DAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

# membuat array
nilai_siswa = np.array([85, 55, 40, 90])

# mengakses data pada array
print(nilai_siswa[3])

90

In [4]:
import numpy as np

# Membuat array dengan teks yang diinginkan
data = np.array(["Hello, World!", "Nama saya [Khairul Athallah]", "NIM saya [2022071039]"])

# Mencetak isi array
for text in data:
    print(text)

Hello, World!
Nama saya [Khairul Athallah]
NIM saya [2022071039]

In [5]:
import numpy as np

# Membuat array dengan dua angka
array = np.array([5, 2])

# Mengecek apakah elemen pertama lebih besar dari elemen kedua
if array[0] > array[1]:
    print("Five is greater than two!")

Five is greater than two!

In [6]:
import numpy as np

# Membuat array dengan nilai integer dan string
data = np.array([5, "John"], dtype=object)

# Mencetak isi array
print(data[0])  # Mencetak nilai 5
print(data[1])  # Mencetak string "John"

5
John

In [7]:
import numpy as np

# Membuat array dengan nilai integer dan string
data = np.array([4, "Sally"], dtype=object)

# Mengganti nilai terakhir
x = data[1]  # Nilai terakhir adalah "Sally"

# Mencetak nilai x
print(x)

Sally

In [8]:
myList = [10, 20, 30]

# Mengambil elemen pertama
getFirst = myList[0]

# Mengambil elemen kedua
getSecond = myList[1]

print("First:", getFirst)
print("Second:", getSecond)

First: 10
Second: 20

In [9]:
myList = [10, 20, 30]

# Mengambil elemen pertama
getFirst = myList[0]

# Mengambil elemen terakhir
getLast = myList[-1]

print("First:", getFirst)
print("Last:", getLast)

First: 10
Last: 30